# Git
.git
.gitignore

# DVC
.dvc
.dvc/cache

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Jupyter / VSCode
.ipynb_checkpoints
.vscode
*.swp

# Datos grandes
data/

# Archivos auxiliares
notebooks/
quitar_labels.py

# Modelos entrenados
models/saved_models/
models/confusion_matrices/

# Caches
*.cache

# Terraform
terraform/
